@model IEnumerable<SPM.Web.ViewModels.Home.IndexProjectViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div>
    @if (Model == null)
    {
        <div class="row"> No projects yet! </div>
    }
    else
    {
        <div class="container-fluid alert">
            <div class="alert">
                <div class="col-md-4"> @Html.Label("Project") </div>
                <div class="col-md-2"> @Html.Label("Client") </div>
                <div class="col-md-2"> @Html.Label("Status") </div>
                <div class="col-md-2"> @Html.Label("Progress") </div>
                <div class="col-md-2"> @Html.Label("Manager") </div>
            </div>
            <hr />
        
            @foreach (var project in Model)
            {
                <div class="">
                    <div class="col-md-4"> @project.Title </div>
                    <div class="col-md-2"> @project.Client.Name </div>
                    <div class="col-md-2"> @project.Status.Text </div>
                    <div class="col-md-2"> 
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@project.ProgressPercentage.ToString()" aria-valuemin="0" aria-valuemax="100" style="width: @project.ProgressPercentage%;">
                                @project.ProgressPercentage%
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"> @project.CreatedBy.UserName </div>
                    @*<div class="col-md-2"> @project.CreatedBy.FirstName @project.CreatedBy.LastName </div>*@
                </div>
                <br /><hr />  
            }
          
            

        </div>
    }


        </div>


@*<div class="">
    @foreach (var client in Model)
    {
        <h3> @client.Name </h3>
        <div>
            @foreach (var project in client.Projects)
            {
            <div class="row">
                <div class="col-md-5"> @project.Title </div>
                <div class="col-md-2"> @project.Status.Text </div>
                <div class="col-md-1"> @project.IsDeleted </div>
                <div class="col-md-1"> @project.DeletedOn </div>
                <div class="col-md-1"> @project.CreatedBy.UserName </div>

            </div>
            <hr />
            }
        </div>
    }
</div>*@

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>